.adopt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.adopt h2 {
  font-size: 17px;
  font-weight: bold;
}

.adopt p {
  font-size: 12px;
}
.adopt img {
  width: 320px;
  height: 415px;
}
.adopt .calendar-final {
  margin: 20px 0 60px 0;
  width: 100px !important;
  height: 100px !important;
}
.adopt .buttons {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 50px;
}
.adopt .pick-date {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.adopt .react-calendar {
  background: #f5f5ef;
  border: none;
  line-height: 0.5em;
}
/*
.adopt .react-calendar__month-view__days__day--weekend {
  color: #000000;
}
.adopt .react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}
.adopt .react-calendar__tile--active {
  background: #006edc;
  border-radius: 50%;
  color: white;
}
.react-calendar__month-view__weekdays {
  font-weight: lighter !important;
}
.adopt .react-calendar__month-view__weekdays__weekday {
  text-decoration: underline !important;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 1em !important;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  padding: 1em 1em !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1em 1em !important;
}
.react-calendar__tile {
  padding: 1em 1em !important;
} */
