.start {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
  text-align: center;
  color: #3f4348 !important;
}
.start h2 {
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
}

.start p {
  font-size: 12px;
}

.start h5 {
  margin: 50px 0 20px 0;
  font-size: 14px;
}

.start h4 {
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.start input {
  outline: none;
  border: none;
  width: 300px;
  height: 50px;
  color: #000000 !important;
  background: var(--bg-primary);
  padding: 5px 10px;
  margin-bottom: 50px;
  font-size: 12px;
}
.start input::placeholder {
  color: #3f4348 !important;
  opacity: 0.7 !important;
}

select {
  font-size: 1rem;
  padding: 1.5em 7.5em 1.5em 1em;
  background: #f5f5ef;
  color: #000000;
  border: 0;
  font-size: 12px !important;
}

.custom-dropdown {
  position: relative;
  
}

.custom-dropdown-arrow {
  background: #f5f5ef;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 4rem;
  pointer-events: none;
}
.custom-dropdown-arrow::before,
.custom-dropdown-arrow::after {
  --size: 0.35em;

  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-dropdown-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: 8px solid #2a649b;
  top: 42%;
}

.custom-dropdown-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: 8px solid #2a649b;
  top: 60%;
}
