.container-header {
  width: 60%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  width: 110px;
  height: 60px;
}

.header .sign-in {
  text-transform: uppercase;
  font-size: 14px;
  color: #336699;
}

.header .sign-in i {
  font-size: 20px;
  margin-right: 10px;
}

.header .sign-in .sign-in-link {
  text-decoration: underline !important;
  color: #336699;
  font-weight: bold;
}
