.configuration-nav {
  background-color: #f7f7f7;
}

.configuration-nav .top {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.configuration-nav .top span {
  font-family: A_book;
  color: #0266a1;
  font-size: 15px;
}

.configuration-nav .top p {
  font-family: A_book;
  color: #676767;
  font-size: 12px;
  margin-bottom: 0px;
}

.configuration-nav ul {
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.configuration-nav a {
  font-family: A_light;
  color: #0266a1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  border-color: #fff;
  padding: 15px 40px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.configuration-nav .nav-tabs .nav-item.show .nav-link,
.configuration-nav .nav-tabs .nav-link.active {
  color: #0266a1 !important;
  border-bottom: 3px solid #0266a1 !important;
}

.configuration-nav .nav-tabs .nav-item {
  background-color: #ffff;
  border: 1px solid #e9e4e4;
}

@media only screen and (max-width: 823px) {
  .configuration-header .main {
    width: 100%;
  }
  .configuration-nav ul {
    display: block;
    width: 100%;
  }
  .configuration-nav li {
    text-align: center;
  }
  .configuration-nav {
    padding-bottom: 10px;
  }
}
